@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: url('/bg.jpg'); 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: url('/bg.jpg'); 
  }
}

body {
  color: #ededed; 
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.foreground-image {
  background-image: var(--foreground);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
